.answer:hover {
  background-color: lightblue;
  font-size: 26px;
  transition: background-color .5s ease-in;
}

body {
  background: linear-gradient(rgb(5, 5, 36), rgb(5, 5, 90), rgb(5, 5, 36));

}

.page {
  background: linear-gradient( rgba(83, 75, 75, 0.651), grey, rgba(83, 75, 75, 0.651));
  margin-top: 65px;
}

.main {
  color: white;
  padding: 20px;
  font-size: 24px;
}

#time {
  padding: 5px;
  font-size: 24px;
  color: rgb(121, 22, 52);
}

h1 {
  font-size: 36px;
  color:  rgb(121, 22, 52);
}