.answer:hover {
  background-color: lightblue;
  font-size: 26px;
  transition: background-color .25s ease-in;
}

body {
  /* background: linear-gradient(to right,red, orange, yellow, green); */
  background-image: linear-gradient(to right, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
      /* background-repeat: no-repeat;
  background-position: cover; */
}

.page {
  background: #C9CCD3;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
  /* background: linear-gradient( rgba(83, 75, 75, 0.651), grey, rgba(83, 75, 75, 0.651)); */
  
  margin-top: 65px;
}

.main {
  color: white;
  padding: 20px;
  font-size: 24px;
}

#time {
  padding: 5px;
  font-size: 24px;
  color: black;
}

h1 {
  font-size: 36px;
  color:  black;
}